<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/reviews/update/<%=review._id%>?_method=PUT" method="POST" novalidate>

        <div class="">
            <label for="forename" class="form-label">Forename</label>
            <input type="text" class="form-control" id="forename" name="forename" value="forename" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" value="surname" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>


        <div class="">
            <label for="review" class="form-label">Review</label>
            <input type="text" class="form-control" id="review" name="review" value="review" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>


        <div class="">
            <label for="rating" class="form-label">Rating</label>
            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" value="rating" required>
            <div class="valid-feedback">rating
                Looks good!
            </div>
        </div>

        <button>Update</button>
    </form>


</body>

</html>