<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
    <title>llogin</title>
</head>

<body>

    <div class="split left">

    </div>

    <div class="split right">
        <form action="/users/login" method="POST" class="validated-form centered" novalidate>

            <iconify-icon icon="uiw:login" width="50" height="50"></iconify-icon>

            <h1>Welcome Back</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. and some more and a bit more.
            </p>

            <input class="login-username" type="text" id="username" name="username" placeholder="Username" required>

            <input class="login-password" type="password" id="password" name="password" placeholder="Password" required>

            <button class="login-button">Login</button>

            <footer class="login-footer">Don't have an account ? <a href="RegisterHere">Register Here</a></footer>

        </form>

    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

</body>

</html>